<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Task Manager</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sign Out"/>
</form>
<div align ="center">
	<h1>Task Manager</h1>
	<a href="new">Create New Task</a>
	<br/><br/>
	<table border = "1" cellpadding="10">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Priority</th>
				<th>Create date</th>
				<th>End date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="task :${listTasks}">
				<td th:text="${task.id}">ID</td>
				<td th:text="${task.name}">Name</td>
				<td th:text="${task.description}">Description</td>
				<td th:text="${task.priority}">Priority</td>
				<td th:text="${task.createDate}">Create Date</td>
				<td th:text="${task.endDate}">End Date</td>
				<td>
					<a th:href="@{'/edit/' + ${task.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/delete/' + ${task.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>